version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: iot_postgres
    #ports:
    #  - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=iot_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - iot-net

  backend:
    build: .             # Buduje obraz z Dockerfile w bieżącym katalogu
    container_name: iot_backend
    ports:
      - "40142:8080"      # Dostęp do API i strony www
    depends_on:
      postgres:
        condition: service_healthy
    #      rabbitmq:
    #        condition: service_healthy
    environment:
      # Nadpisujemy ustawienia z application.yaml zmiennymi środowiskowymi

      # Konfiguracja Bazy Danych (adres to 'postgres', nie localhost)
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/iot_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=password

      # Konfiguracja MQTT (adres to 'rabbitmq', nie localhost ani srv38...)
      - MQTT_BROKER=tcp://srv38.mikr.us:40131
      - MQTT_USERNAME=iotproject
      - MQTT_PASSWORD=iotproject

      # Konfiguracja JWT (użyj swojego sekretu lub zmiennej)
      - JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

    networks:
      - iot-net

#  # Broker wiadomości (AMQP + MQTT)
#  rabbitmq:
#    image: rabbitmq:3-management
#    container_name: iot_rabbitmq
#    ports:
#      - "5672:5672"   # AMQP (Spring Boot connection)
#      - "15672:15672" # Management UI (http://localhost:15672)
#      - "1883:1883"   # MQTT Port (IoT Devices connection)
#    environment:
#      - RABBITMQ_DEFAULT_USER=guest
#      - RABBITMQ_DEFAULT_PASS=guest
#    # Ważne: Włączamy plugin MQTT przy starcie
#    command: /bin/sh -c "rabbitmq-plugins enable rabbitmq_mqtt && rabbitmq-server"

networks:
  iot-net:
    external: true

volumes:
  postgres_data: